<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laura's Website</title>
</head>
<body>

<footer class="white-section" id="footer">
    <div class="container-fluid">
        <h3>Links to My Materials</h3>

        <h6>Website Always Under Construction</h6>
      <a href="https://american.academia.edu/LauraGilchrest"> <i class="social-icon fab fa-font-awesome"></i></a>
      <a href="https://www.linkedin.com/in/lauragilchrest/"><i class="social-icon fab fa-linkedin"></i></a>
      <a href="https://calendly.com/prof-gilchrest/consulting?"><i class="social-icon light fas fa-calendar-check"></i></a>
       <a href="https://us21.list-manage.com/contact-form?u=dc6775e4b4a342d06589751e1&form_id=2cd70c7c4b90ea8e6f944da890d08614"><i class="social-icon fas fa-envelope"></i></a>

        <br>
        <br>
      <p>© Copyright 2023</p>
        <p><i>A Mark Hamilton Joint</i></p>
    </div>
  </footer>
</body>
</html>