<!DOCTYPE html>
<html>

      <!-- Nav Bar -->

     {% include "header.html" %}

      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h3 class="big-heading">Write Away</h3>
          <p class="intro">
         "Hi! I’m Dr. Laura S. Gilchrest, and I'm glad you're here! In my work life I am a researcher, writer, and analyst in the Mid-Atlantic region. A professional anthropologist by training, I have taught qualitative methods, social theory, and practiced social science research and analysis as a consultant for over a decade. I am committed to improving the global intellectual landscape by supporting thinkers and writers in their knowledges, languages, and intersecting identities. I moved to Washington, DC in 2011 and have since worked with various advocacy, research, and social movement and union organizations. I invite you to get to know me, tell me about your project, and see how I can support you."
          </p>
        </div>
        <div class="col-lg-6" style="display: flex; align-items: center; justify-content: center;">
        <a><img src="static/images/lg_Mar_2023_019.jpg" alt="selfie" class="larger-image" width="500" height="333"></a>
        </div>

      </div>

    </div>

  </section>

        <!-- Features -->

  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Versatile</h3>
          <p>A variety of skills and experience to fit your project</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Time-Saver</h3>
          <p>Save time for other activities and still meet your deadlines</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Thoughtful</h3>
          <p>Compassionate support for your project and you!</p>
        </div>

        <div class="feature-box col-lg-4">
            <i class="icon fas fa-solid fa-book fa-4x"></i>

          <h3 class="feature-title">Interdisciplinary</h3>
          <p>Substantive support across disciplines, genres and styles</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-highlighter fa-4x"></i>
          <h3 class="feature-title">Thorough</h3>
          <p>Whether it's one page or 1000 pages, every project gets detailed attention</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-user-graduate fa-4x"></i>
          <h3 class="feature-title">Knowledge Steward</h3>
          <p>Helping you share your knowledge in your own voice</p>
        </div>
      </div>

    </div>
  </section>

  <!-- Hobbies and interests -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">
      <div>
        <h1>Services Offered</h1>
    <div class="accordion-item">
    <div class="accordion-item-header">
      <h4>Mentoring/Advising</h4>
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
              <p class="skill-text" align="left">- Letters of Recommendation</p>
            <p class="skill-text" align="left">- Going to grad school/law school/med school</p>
            <p class="skill-text" align="left">- Navigating grad school</p>
            <p class="skill-text" align="left">- Getting research/articles published</p>
           </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-item-header">
<h4 align="left">Writing Services</h4>
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        <h4 class="skill-text" align="left"><strong>All types and lengths of writing</strong></h4>
        <br>
            <p class="skill-text" align="left">- Editing</p>
            <p class="skill-text" align="left">- Copyediting</p>
            <p class="skill-text" align="left">- Indexing</p>
            <p class="skill-text" align="left">- Transcription</p>
            <p class="skill-text" align="left">- Coaching/Accountability/Support</p>
      </div>
    </div>
  </div>
         <div class="accordion-item">
    <div class="accordion-item-header">
<h4 align="left">Research</h4>
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
        <h4 class="skill-text" align="left"><strong>Spanish language services available!</strong></h4>
        <br>
            <p class="skill-text" align="left">- Surveys</p>
            <p class="skill-text" align="left">- Interviews</p>
            <p class="skill-text" align="left">- Research Design</p>
            <p class="skill-text" align="left">- Qualitative Data Coding</p>
            <p class="skill-text" align="left">- Data Analysis & Interpretation</p>
            <p class="skill-text" align="left">- Field Research</p>
      </div>
    </div>
  </div>
<!--   <div class="accordion-item">
    <div class="accordion-item-header">
    <h4 align="left">Expert Witness</h4>
    </div>
    <div class="accordion-item-body">
      <div class="accordion-item-body-content">
               <p class="skill-text" align="left">- Honduras</p>
            <p class="skill-text" align="left">- Domestic Violence, Violence Against Women</p>
            <p class="skill-text" align="left">- Public Health/Global Health</p>
            <p class="skill-text" align="left">- Garifuna</p>
           </div> -->
  </section>



  <!-- references -->
<section class="colored-section" id="testimonials">
  <div id="testimonial-carousel" class="carousel slide" data-ride="carousel" data-interval="8000"> <!-- Set data-interval to 8000 milliseconds (8 seconds) -->
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h6 class="testimonial-text"> Laura's editing is both thorough and thoughtful. She has an academically trained eye as well as high levels of ethical and political sensitivity, which were helpful in the different pieces she has helped me edit </h6>
        <em>Recommending Laura's Services</em>
      </div>
      <div class="carousel-item container-fluid">
        <h6 class="testimonial-text">Laura is absolutely wonderful!! I'm so glad I worked with her as I was finishing up. :)</h6>
        <em>-J.F., Washington DC</em>
      </div>
      <div class="carousel-item container-fluid">
        <h6 class="testimonial-text">Thank you so much again for everything. I am looking forward to my first holiday with my baby AND no dissertation hanging over my head.</h6>
        <em>V.L, Virginia</em>
      </div>
    </div>

    <!-- Navigation Controls -->
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>


<!--  <section class="colored-section" id="testimonials">-->

<!--    <div id="testimonial-carousel" class="carousel slide" data-ride="false">-->
<!--      <div class="carousel-inner">-->
<!--        <div class="carousel-item active container-fluid">-->
<!--          <h6 class="testimonial-text"> Laura's editing is both thorough and thoughtful. She has an academically trained eye as well as high levels of ethical and political sensitivity, which were helpful in the different pieces she has helped me edit </h6>-->
<!--          <em>Recommending Laura's Services</em>-->
<!--        </div>-->
<!--        <div class="carousel-item container-fluid">-->
<!--          <h6 class="testimonial-text">Laura is absolutely wonderful!! I'm so glad I worked with her as I was finishing up. :)</h6>-->
<!--          <em>-J.F., Washington DC</em>-->
<!--        </div>-->
<!--        <div class="carousel-item container-fluid">-->
<!--          <h6 class="testimonial-text">Thank you so much again for everything. I am looking forward to my first holiday with my baby AND no dissertation hanging over my head.</h6>-->
<!--          <em>V.L, Virginia</em>-->
<!--        </div>-->
<!--        <div class="carousel-item container-fluid">-->
<!--          <h6 class="testimonial-text">It is clear that he is experienced in working with a diverse range of students and is sensitive to the different ethnic, cultural and socioeconomic backgrounds of those with whom he works.</h6>-->
<!--          <em>Dr. Debbie Lazer, Head of School at The Help Group's Village Glen School</em>-->
<!--        </div>-->
<!--      </div>-->
<!--      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">-->
<!--        <span class="carousel-control-prev-icon"></span>-->
<!--      </a>-->
<!--      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">-->
<!--        <span class="carousel-control-next-icon"></span>-->
<!--      </a>-->
<!--    </div>-->

<!--  </section>-->


  <!-- Press -->

  <section class="colored-section" id="press">
    <img class="press-logo" src="static/images/MAXQDA-2022.png" alt="maxQDA">
        <img class="press-logo" src="static/images/DedooseLogoLarge.jpg" alt="dedoose">
    <img class="press-logo"  src="static/images/Atlas-ti-Logo.jpg" alt="Atlas">
<!--    <img class="press-logo" src="static/images/Sql_logo.png" alt="sql-logo">-->

  </section>





  <!-- Footer -->

  {% include "footer.html" %}


</body>

</html>
