<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laura</title>
      <link rel="stylesheet" href="static/css/styles.css">
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WNKKPE2DTE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WNKKPE2DTE');
    </script>
</head>
<body>
<div class="landing">
<a class="center" href="/home"><img src="static/images/lg.jpg" alt="profile" width="800" height="950"></a>
</div>
</body>
